span.Down{
	font-size: 18px; 
	color:#990000;
}
span.Up{
	font-size: 18px;
	color: #006600;
}
span.price_usd{
	font-weight:bold; 
}
span.nameCurrency{
	font-size: 1.25em; 
}

div.crypto_all{ 
	text-align:center; font-size:10px; text-transform: uppercase;
}
